#blog{
    background-image: url(https://acadiamagic.com/images/1200w/cadillac-1305.jpg);
    background-size: cover;
    height: 50vh;
    background-position: center;
}
#connection{
    .meet-boy{
        width: 200px;
        height: 180px;
        margin: 0 auto;
        border-radius: 50%;
    }
}