#vibedata {
    .next-awesome {
        color: $gray-color;
        font-size: 32px;
    }

    .btn-login {
        background-color: $primary-color;
        color: $white-color;
        border: 1px solid $primary-color;
        height: 45px;
        width: 120px;
        border-radius: 5px;
    }

    .frgt-pswd {
        color: $primary-color;
    }
}

.inp-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .li-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 900px;

        .login-input {
            height: 50px;
            align-items: center;
        }

    }
}

.next-data{
    font-size: 30px;
    color:$white-black-color;
}
.reset-pswrd{
    font-size: 25px;
    color: $white-black-color;
}
.reset-input{
    width: 900px;
    height: 45px;
}
.enter-mail{
    font-size: 18px;
}
.free-membership{
    font-size: 40px;
    color: $black-color;
}
.btn-sign-up{
    height: 43px;
    width: 130px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white-color;
    border-radius: 7px;
}
.waiting-for{
    font-size: 30px;
}
.sign-up{
    font-size: 23px;
}
.offerings{
    font-size: 30px;
}
.vd-member{
    height: 55px;
    width: 290px;
    background-color: $primary-color;
    color: $white-color;
    border: 1px solid $primary-color;
    border-radius: 7px;
    font-size: 23px
}
.form-input{
    width: 500px;
}
#vibedate-everywhere{
    .focus-on-melbourne{
        font-size: 19px;
        a{
            color: $red-color;
        }
    }
}
#vibedate-everywhere{
    .everywhere-waiting{
        font-size: 38px;
    }
    .becaome-everywhere{
        font-size: 23px
    }
}
.btn-register{
    width: 230px;
    height: 50px;
    background-color: $primary-color;
    color: $white-color
}
.register{
    background-color: black;
}
.div-label{
    color: white;
}
h1 {
    text-align: center;
  }

form {
    max-width: 400px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
  }