header {
    nav {
       button{
        .logo {
            width: 13%;
        }
       }

        .login {
            height: 46px;
            width: 100px;
            background-color: transparent;
            color: $white-color;
            border: 1px solid;
            border-radius: 5px;
            font-size: 20px;

            &:hover {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }
}

header {
    nav {
        .home {
            background-color: $primary-color;
            border-radius: 5px;
        }

        .nav-linkk {
            color: $white-color;
            font-size: 20px;
            margin: 0 7px;

            &:hover {
                background-color: $primary-color ;
                color: $white-color;
                border-radius: 5px;
            }
        }
    }
}

header {
    .header-text {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: 'Yuji Hentaigana Akari', cursive;
            font-size: 60px;
            color: $white-color;
            font-style: inherit;
            margin-top: 5%;
        }

        p {
            color: $white-color;
            margin: 3% auto;
            font-size: 21px;

        }
    }
}