$primary-color:#d74571;
$white-color:white;
$black-color:black;
$gray-color:rgb(118, 118, 118);
$white-gray-color:rgb(247, 247, 247);
$gray-gray-color:#d4d4d4;
$red-color:red;
$krem-color:rgb(238, 236, 225);
$white-black-color:rgb(67, 66, 66);



